name: PR

on:
  pull_request:
    paths:
      - '**'
      - '!**/*.md'
      - '!**/*.yml'
      - '!**/*.yaml'
      - '.github/workflows/pr.yml'
      - 'make.ps1'

concurrency:
  group: pr-${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: read

jobs:
  vs-ponyc-release-linux:
    name: Test against recent ponyc release on Linux
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ponylang/shared-docker-ci-standard-builder:release
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Test
        run: make test config=debug

  vs-ponyc-nightly-x86-64-windows:
    name: Test against recent ponyc nightly on x86-64 Windows
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Install ponyc and corral
        run: |
          Invoke-WebRequest https://dl.cloudsmith.io/public/ponylang/nightlies/raw/versions/latest/ponyc-x86-64-pc-windows-msvc.zip -OutFile C:\ponyc.zip
          Expand-Archive -Path C:\ponyc.zip -DestinationPath C:\ponyc
          Invoke-WebRequest https://dl.cloudsmith.io/public/ponylang/nightlies/raw/versions/latest/corral-x86-64-pc-windows-msvc.zip -OutFile C:\corral.zip
          Expand-Archive -Path C:\corral.zip -DestinationPath C:\corral
      - name: Test
        run: |
          $env:PATH = 'C:\ponyc\bin;C:\corral\bin;' + $env:PATH
          .\make.ps1 -Command test -Config Release

  vs-ponyc-nightly-arm64-windows:
    name: Test against recent ponyc nightly on arm64 Windows
    runs-on: windows-11-arm
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Install ponyc and corral
        run: |
          Invoke-WebRequest https://dl.cloudsmith.io/public/ponylang/nightlies/raw/versions/latest/ponyc-arm64-pc-windows-msvc.zip -OutFile C:\ponyc.zip
          Expand-Archive -Path C:\ponyc.zip -DestinationPath C:\ponyc
          Invoke-WebRequest https://dl.cloudsmith.io/public/ponylang/nightlies/raw/versions/latest/corral-arm64-pc-windows-msvc.zip -OutFile C:\corral.zip
          Expand-Archive -Path C:\corral.zip -DestinationPath C:\corral
      - name: Test
        run: |
          $env:PATH = 'C:\ponyc\bin;C:\corral\bin;' + $env:PATH
          .\make.ps1 -Command test -Config Release
